<li class="loc-committee-view loc-result-item-view">
  <div class="pull-left">
    <div class="loc-parent-committee-name loc-result-parent-item-name" data-view-model-property="parentCommitteeName"></div>
    <div class="loc-committee-name loc-result-item-name" data-view-model-property="name"></div>

    <!-- div data-view-model-property="office"></div>

    <div class="loc-committee-links">
      <div class="loc-committee-link-web">
        <span class="loc-committee-link-icon glyphicon glyphicon-home"></span>
        <span class="" data-view-model-property="url" data-view-element-tag="a"></span>
      </div>
      <div class="loc-committee-link-phone">
        <span class="loc-committee-link-icon glyphicon glyphicon-earphone"></span>
        <span class="" data-view-model-property="phone" data-view-element-tag="a"></span>
      </div>
    </div -->
    
    <div class="loc-committee-member-info">
      <span data-view-model-property="memberCount" data-view-element-tag="span"></span><span> Members</span>
    </div>
  </div>
  <div class="clearfix"></div>
</li>