<li class="loc-committee-view loc-result-item-view">
  <div class="pull-left">

    <div class="loc-parent-committee-name loc-result-parent-item-name" data-view-model-property="parentCommitteeName"></div>
    <div class="loc-committee-name loc-result-item-name" data-view-model-property="name"></div>

    <div class="loc-committee-member-info">
      <span data-view-model-property="memberCount" data-view-element-tag="span"></span><span> Members</span>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-1x"></i>
        <i data-dojo-attach-point="memberDisplayActionNode" data-dojo-attach-event="click: _toggleMemberDisplay" class="fa fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    
  </div>

  <div class="clearfix"></div>
  
  <div data-dojo-attach-point="committeeMembersNode" class="loc-committee-view-members"></div>
</li>