<li class="loc-member-small-view loc-result-item-view">
    <div>
        <div class="pull-left loc-member-portrait-small">
            <div class="loc-member-avatar" data-view-model-property="smallAvatar" data-view-element-class="party" data-view-element-tag="img"></div>
        </div>
        <div class="pull-left loc-member-info">
            <div class="pull-left loc-member-info-content">
                <div class="loc-member-name loc-result-item-name loc-small-result-item-name" data-view-model-property="displayName"></div>
                <div class="loc-member-contact">
                	<span data-view-model-property="stateName" data-view-element-class="party"  data-view-element-tag="span"></span>
                	-
                	<span data-view-model-property="fullTitle"  data-view-element-tag="span"></span>
                    (<span data-view-model-property="party"  data-view-element-tag="span"></span>)
                    <div class="loc-member-rank-district" data-view-model-property="rankDistrict"></div>
		            
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</li>
