<li class="loc-member-view loc-result-item-view">
    <div>
        <div class="pull-left loc-member-portrait">
            <div class="loc-member-avatar" data-view-model-property="avatar" data-view-element-class="party" data-view-element-tag="img"></div>
            <div class="loc-member-rank-district" data-view-model-property="rankDistrict"></div>
            <div class="loc-member-term" data-view-model-property="term"></div>
            <div class="loc-member-party" data-view-model-property="partyName" data-view-element-class="party"></div>
        </div>
        <div class="pull-left loc-member-info">
            <div class="pull-left loc-member-info-content">
                <div class="loc-member-name loc-result-item-name" data-view-model-property="displayName"></div>
                <div class="loc-member-contact">
                    <div>
                        <span class="glyphicon glyphicon-envelope"></span><span data-view-model-property="contactLabel" data-view-element-tag="a" data-view-element-href="contactForm"></span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-earphone"></span><span data-view-model-property="telNo"></span>
                    </div>
                    <div class="loc-member-web">
                        <span class="loc-member-social-web-icon glyphicon glyphicon-home"></span><span data-view-model-property="website" data-view-element-tag="a" data-view-element-href="website"></span>
                    </div>
                </div>
            </div>

            <div class="pull-left loc-member-committee-container">
                <div class="pull-right loc-member-committees">
                    <div class="committee-count-title">
                        <p><a href="#" data-dojo-attach-event="click: _doMemberCommitteeSearch">Committees</a></p>
                    </div>
                    <div class="committee-count-num" data-view-model-property="committeeCount" data-view-element-tag="p">
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="pull-left loc-member-social-container">
                <div class="loc-member-social-web">
                    <div class="loc-member-social-title">
                        <p>Social Media</p>
                    </div>
                    <div class="loc-member-social-youtube">
                        <i class="loc-member-social-web-icon fa fa-youtube-play"></i><span data-view-model-property="youtubeHandle" data-view-element-tag="a" data-view-element-href="youtubeUrl"></span>
                    </div>
                    <div class="loc-member-social-twitter">
                        <i class="loc-member-social-web-icon fa fa-twitter"></i><span data-view-model-property="twitterHandle" data-view-element-tag="a" data-view-element-href="twitterUrl"></span>
                    </div>
                    <div class="loc-member-social-facebook">
                        <i class="loc-member-social-web-icon fa fa-facebook"></i><span data-view-model-property="facebookHandle" data-view-element-tag="a" data-view-element-href="facebookUrl"></span>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</li>
