<li class="loc-member-view">
  <div>
    <div class="pull-left">
      <div data-view-model-property="avatar" data-view-element-tag="img" class="thumbnail"></div>
      <div data-view-model-property="fullTitle"></div>
      <div data-view-model-property="term"></div>
      <div data-view-model-property="partyName"></div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div data-view-model-property="displayName" data-view-element-style="font-weight: bold; font-size: 18pt;"></div>
      <div>
        <span class="glyphicon glyphicon-earphone"></span>
      </div>

      <div>
        <span class="glyphicon glyphicon-envelope"></span>
      </div>
      <div>
        <span class="glyphicon glyphicon-home"></span>
      </div>
      <div>
        <span class="glyphicon-social glyphicon-facebook"></span>
      </div>
      <div>
        <span class="glyphicon-social glyphicon-twitter"></span>
      </div>
      <div>
        <span class="glyphicon-social glyphicon-youtube"></span>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</li>