<div class="loc-members-view">
  <h2 data-dojo-attach-point="senH2">Senators</h2>
  <ul data-dojo-attach-point="senNode"></ul>
  <div data-dojo-attach-point="hrNode" style="margin-top: 25px; margin-bottom: 20px; height: 1px; background-color: black; text-align: center; background-color: #ccc;">
    <!-- <span style="background-color: #eee; position: relative; top: -0.65em; padding-left: 15px; padding-right: 15px; color: #999">
      OR
    </span> -->
  </div>
  <h2 data-dojo-attach-point="repH2">Representatives</h2>
  <ul data-dojo-attach-point="repNode"></ul>
</div>