<div class="loc-search-area-parent">
  <div class="loc-search-area loc-location-search">
    
    <div class="loc-search-area-heading loc-name-location-heading">
      <h2>By Location</h2>
      <p>
        Find your legislator by location. Enter your ZIP code, select a State,<br />or click on the map to begin the search.
      </p>
    </div>

    <div class="loc-search-area-content loc-name-location-content form-inline text-center">
      <div class="form-group" style="width: 27%; text-align: left;">
        <input class="form-control" placeholder="ZIP"/>
      </div>
      <div class="form-group" style="width: 7%;">
        <p class="form-control-static text-muted">or</p>
      </div>
      <div class="form-group" style="width: 27%;">
        <select class="form-control" data-dojo-attach-event="change: _doStateSearch">
          <option value=""><span style="color: #999;">State/Territory</span></option>
          <option value="CA">California</option>
          <option value="MD">Maryland</option>
        </select>
      </div>
      <div class="form-group" style="width: 7%;">
        <p class="form-control-static text-muted">or</p>
      </div>
      <div class="form-group" style="width: 27%; text-align: right;">
        <button class="btn btn-default form-control" data-dojo-attach-event="click: _doGeolocationSearch">
          <span class="glyphicon glyphicon-map-marker"></span>
          My Location
        </button>
      </div>
    </div>
  </div>
  <div style="margin-top: 25px; margin-bottom: 20px; height: 1px; background-color: black; text-align: center; background-color: #ccc;">
    <span style="background-color: #eee; position: relative; top: -0.65em; padding-left: 15px; padding-right: 15px; color: #999">
      OR
    </span>
  </div>
  <div class="loc-search-area loc-name-search">
    <div class="loc-search-area-heading loc-name-search-heading">
      <h2>By Name</h2>
      <p>
        If you know the name of the legislator or committee you are<br />looking for, enter the name to begin the search.
      </p>
    </div>
    <div class="loc-search-area-content loc-name-search-content form-inline text-center">
      <div class="form-group" style="width: 45%; text-align: left;">
        <input class="form-control" placeholder="Senator or Representative"/>
      </div>
      <div class="form-group" style="width: 7%;">
        <p class="form-control-static text-muted">or</p>
      </div>
      <div class="form-group" style="width: 45%; text-align: right;">
        <input class="form-control" placeholder="Committee"/>
      </div>
    </div>
  </div>
</div>
