<div class="loc-application">
  <div class="loc-app-heading">
  </div>
  <div class="loc-app-content">
    <div class="loc-view-area col-sm-6">
      <div data-dojo-attach-point="searchAreaNode"></div>
      <div data-dojo-attach-point="resultsNavNode" class="loc-results-nav"></div>
      <div data-dojo-attach-point="searchStatusNode" class="loc-search-status">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <div data-dojo-attach-point="resultsNode"></div>
    </div>
    <div class="loc-map-area col-sm-6">
      <div data-dojo-type="loc/views/MapView"></div>
    </div>
  </div>
</div>