body {
  /* overflow: hidden; */
}

.navbar-default {
  background-color: #0078ae;
  border-color: #00618d;
}
.navbar-default .navbar-brand {
  color: #f8f8f8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dfdfdf;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #f8f8f8;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f8f8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00618d;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #00618d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #00618d;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f8f8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #00618d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #f8f8f8;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}


.btn-loc-default {
  color: #f8f8f8;
  background-color: #0078ae;
  border-color: #0078ae;
}
.btn-loc-default:hover,
.btn-loc-default:focus,
.btn-loc-default:active,
.btn-loc-default.active,
.open .dropdown-toggle.btn-loc-default {
  color: #f8f8f8;
  background-color: #00618d;
  border-color: #00618d;
}
.btn-loc-default:active,
.btn-loc-default.active,
.open .dropdown-toggle.btn-loc-default {
  background-image: none;
}
.btn-loc-default.disabled,
.btn-loc-default[disabled],
fieldset[disabled] .btn-loc-default,
.btn-loc-default.disabled:hover,
.btn-loc-default[disabled]:hover,
fieldset[disabled] .btn-loc-default:hover,
.btn-loc-default.disabled:focus,
.btn-loc-default[disabled]:focus,
fieldset[disabled] .btn-loc-default:focus,
.btn-loc-default.disabled:active,
.btn-loc-default[disabled]:active,
fieldset[disabled] .btn-loc-default:active,
.btn-loc-default.disabled.active,
.btn-loc-default[disabled].active,
fieldset[disabled] .btn-loc-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-loc-default .badge {
  color: #ffffff;
  background-color: #333333;
}

.btn-default {
  color: #999;
}

nav.navbar:first-of-type {
  margin-bottom: 0;
}

nav.navbar {
  color: #f8f8f8;
  border: none;
  margin-bottom: 15px;
}

.esri-map-shadow {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.75);
}

.index-box {
  height: 800px;  
  padding-top: 15px;
}

ul.list-group li.list-group-item.active {
  background-color: #0078ae;
  color: white;
}
/*
.esriSimpleSlider {
  border-color: #00618d !important;
  color: #00618d !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom-color: #00618d !important;
}
*/
.loc-location-search {

}

.loc-members-view>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.loc-members-view:first-of-type>h2 {
  margin-top: 0;
}

.loc-members-view>h2 {
  text-transform: uppercase;
  text-align: center;
  color: #00618d;
}

.loc-member-view:first-of-type {
  margin-top: 0;
}

.loc-member-view {
  margin-top: 15px;
}

.loc-member-avatar {
  margin: 0 15px 5px 0;
}

.loc-member-avatar>img {
  /*border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;*/
  border-width: 3px;
  border-style: solid;

}

.loc-member-avatar>img.D {
  border-color: rgb(95, 129, 178);
}

.loc-member-avatar>img.I {
  border-color: white;
}

.loc-member-avatar>img.R {
  border-color: rgb(216, 117, 125);
}

.loc-view-area {
  padding: 0;
}

.loc-view-area>div {
  background-color: #eee;
  margin-bottom: 15px;
}

.loc-view-area>div>div {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.loc-search-area-heading:first-of-type>h2 {
  margin-top: 0;
}

.loc-search-area-heading>h2 {
  text-transform: uppercase;
  text-align: center;
  color: #00618d;
}

.loc-search-area-heading>p {
  /*display: inline;*/
  text-align: center;
  font-size: 1.2em;
  color: #999;
}

select.form-control {
  color: #999;
}

p.lead {
  font-weight: normal !important;
}

.loc-search-area-content .form-control,
.loc-search-area-content .form-control-static {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.loc-search-area-content .btn {
  padding-left: 6px;
  padding-right: 6px;
}

.loc-search-area-footer>div {
  padding-top: 10px !important;
}

.loc-map-area {
  padding-left: 15px !important;
}

.loc-map {
  background-color: #eee;
}

.loc-bordered-component {
  border: solid #00618d 1px;
}

.loc-second-navbar {

}

sup { /* not much. sup with you? */
  font-size: 0.55em;
}

.loc-option-committee {
  font-weight: bold;
}

.loc-option-subcommittee {
  padding-left: 15px;
  font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}