body {
    /* overflow: hidden; */
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-weight: 300;
}

.navbar-default {
    background-color: #428bca;
    border-color: #00618d;
}

    .navbar-default .navbar-brand {
        color: #f8f8f8;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #dfdfdf;
            background-color: transparent;
        }

    .navbar-default .navbar-text {
        color: #f8f8f8;
    }

    .navbar-default .navbar-nav > li > a {
        color: #f8f8f8;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #ffffff;
            background-color: transparent;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #00618d;
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: #dddddd;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #dddddd;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #888888;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #00618d;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: #00618d;
        color: #ffffff;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f8f8f8;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333333;
            background-color: transparent;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #00618d;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #f8f8f8;
}

    .navbar-default .navbar-link:hover {
        color: #333333;
    }


.btn, .form-control {
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

    .form-control.btn:hover {
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

    .form-control:hover {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

input.form-control::-webkit-input-placeholder {
    font-style: italic;
}

input.form-control:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}

input.form-control::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
}

input.form-control:-ms-input-placeholder {
    font-style: italic;
}

.selectpicker > .filter-option {
    font-style: italic;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #666;
}

.btn-loc-default {
    color: #f8f8f8;
    background-color: #428bca;
    border-color: #428bca;
}

    .btn-loc-default:hover,
    .btn-loc-default:focus,
    .btn-loc-default:active,
    .btn-loc-default.active,
    .open .dropdown-toggle.btn-loc-default {
        color: #f8f8f8;
        /*background-color: #00618d;
        border-color: #00618d;*/
        background-color: #428bca;
        border-color: #428bca;
    }

    .btn-loc-default:active,
    .btn-loc-default.active,
    .open .dropdown-toggle.btn-loc-default {
        background-image: none;
    }

    .btn-loc-default.disabled,
    .btn-loc-default[disabled],
    fieldset[disabled] .btn-loc-default,
    .btn-loc-default.disabled:hover,
    .btn-loc-default[disabled]:hover,
    fieldset[disabled] .btn-loc-default:hover,
    .btn-loc-default.disabled:focus,
    .btn-loc-default[disabled]:focus,
    fieldset[disabled] .btn-loc-default:focus,
    .btn-loc-default.disabled:active,
    .btn-loc-default[disabled]:active,
    fieldset[disabled] .btn-loc-default:active,
    .btn-loc-default.disabled.active,
    .btn-loc-default[disabled].active,
    fieldset[disabled] .btn-loc-default.active {
        background-color: #ffffff;
        border-color: #cccccc;
    }

    .btn-loc-default .badge {
        color: #ffffff;
        background-color: #333333;
    }

.btn-default {
    color: #999;
}

nav.navbar:first-of-type {
    margin-bottom: 0;
}

nav.navbar {
    color: #f8f8f8;
    border: none;
    margin-bottom: 15px;
}

.esri-map-shadow {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
}

.index-box {
    height: 800px;
    padding-top: 15px;
}

ul.list-group li.list-group-item.active {
    background-color: #0078ae;
    color: white;
}

.esriSimpleSliderTL {
    top: 15px !important;
    left: 15px !important;
}

.esriSimpleSlider {
  border-color: rgb(153, 153, 153) !important;
  color: rgb(153, 153, 153) !important;
}

.esriSimpleSlider,
.esriSimpleSlider:hover .esriSimpleSliderIncrementButton,
.esriSimpleSlider:hover .esriSimpleSliderDecrementButton {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom-color: rgb(153, 153, 153) !important;
}

.loc-location-search {
}


.loc-view-area {
    padding: 0;
}

    .loc-view-area > div:first-of-type {
        background-color: #f7f7f7;
        margin-bottom: 15px;
    }

    .loc-view-area > div > div {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

.loc-search-area-heading:first-of-type > h2 {
    margin-top: 0;
}

.loc-search-area-heading > h2 {
    text-transform: uppercase;
    text-align: center;
    /*color: #00618d;*/
    font-size: 1.7em;
    font-weight: 500;
    color: #428bca;
}

.loc-search-area-heading > p {
    /*display: inline;*/
    text-align: center;
    font-size: 1.2em;
    color: #999;
    font-weight: 300;
}

select.form-control {
    color: #999;
}

p.lead {
    font-weight: 300;
}

.loc-search-area-content .form-control,
.loc-search-area-content .form-control-static {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.loc-search-area-content .btn {
    padding-left: 6px;
    padding-right: 6px;
}

.loc-search-area-footer > div {
    padding-top: 10px !important;
}

.loc-map-area {
    padding-left: 15px !important;
}

.loc-map {
    background-color: #eee;
}

.loc-bordered-component {
    border: solid #00618d 1px;
}

.loc-second-navbar {
}

sup { /* not much. sup with you? */ /* classic */
    font-size: 0.55em;
}

.loc-option-committee {
    font-weight: bold;
}

.loc-option-subcommittee {
    padding-left: 15px;
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Search View */
.search-separator {
    margin-top: 25px;
    margin-bottom: 20px;
    height: 1px;
    text-align: center;
    background-color: #ccc;
}

    .search-separator .separator-text {
        background-color: #f7f7f7;
        position: relative;
        top: -0.65em;
        padding-left: 15px;
        padding-right: 15px;
        color: #999;
    }

        /* Menus */

ul.selectpicker>li:first-of-type>a>span {
    font-style: italic;
    color: #ccc !important;
}
.bootstrap-select.btn-group .dropdown-menu {
    -moz-min-width: 150%;
    -ms-min-width: 150%;
    -o-min-width: 150%;
    -webkit-min-width: 150%;
    min-width: 150%;
}

.bootstrap-select.btn-group .dropdown-menu .selectpicker {
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
}

.dropdown-menu > li > a {
    padding: 3px 15px;
}

.selectpicker .disabled * {
    cursor: default !important;
}

.dropdown-menu {
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    border-color: #eaeaea #e0e0e0 #d6d6d6;
}

/* Members View */
.loc-view-area .loc-results-list {
    height: 700px;
    overflow: auto;
    padding: 0 15px;
    margin-bottom: 15px;
}

.loc-results-list > ul:last-child {
    margin-bottom: 0;
}

/* Profile View */
.loc-results-list > h2 {
    background: #428bca;
    color: #ffffff;
    padding: 8px 0;
    margin: 0 -15px;
    font-size: 1.7em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.loc-member-portrait {
    width: 25%;
    text-align: center;
    padding-right: 5%;
}

.loc-member-info {
    width: 75%;
}

.loc-member-info-content {
    width: 67%;
}

.loc-member-committee-container {
    width: 33%;
}

.loc-member-social-container {
    width: 100%;
}

.loc-results-list > ul {
    list-style-type: none;
    margin: 20px 0 30px;
    padding: 0;
}

.loc-results-list:first-of-type > h2 {
    margin-top: 0;
}

.loc-result-item-view {
    margin: 0px -15px;
    padding: 15px;
    width: auto;
    background: white;
}

    .loc-result-item-view:first-of-type {
        margin-top: 0;
    }

    .loc-result-item-view:last-child {
        margin-bottom: 0;
    }

    .loc-result-item-view:nth-child(2n) {
        background: #fdfefe;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

.loc-member-avatar {
    margin: 0 auto;
    text-align: center;
}
    /* CL: Removing border color, Blue border is too close to photo background and we already have another indicator of party affiliation
        I may remove the "SENATOR"/"REPRESENTATIVE" titles as well since we already display that in their title and at the head of the section */
    .loc-member-avatar > img {
        /*border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;*/
        /*border-width: 4px;
        border-style: solid;*/
        border: 4px solid #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }

/*.loc-member-avatar > img.D {
            border-color: rgb(95, 129, 178);
        }

        .loc-member-avatar > img.I {
            border-color: white;
        }

        .loc-member-avatar > img.R {
            border-color: rgb(216, 117, 125);
        }*/

.loc-member-title {
    text-transform: uppercase;
    color: #428bca;
}

.loc-member-term {
    color: #8792a4;
    line-height: .8em;
    margin-bottom: 1em;
}

.loc-member-party span {
    display: inline-block;
    width: 100%;
    color: #fff;
    background-color: rgb(165, 165, 165);
}

.loc-member-party .D {
    background-color: rgb(95, 129, 178);
}

.loc-member-party .I {
    background-color: rgb(165, 165, 165);
}

.loc-member-party .R {
    background-color: rgb(216, 117, 125);
}

.loc-result-parent-item-name {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
}

.loc-result-item-name {
    font-weight: 300;
    font-size: 1.5em;
    line-height: .9em;
    margin-bottom: 1em;
}

/* Profile Info */
.loc-member-contact .glyphicon {
    color: #aaacac;
    width: 1.1em;
    margin-right: .5em;
}

.loc-member-rank-district {
    color: #8792a4;
}

/* Social Links */
.loc-member-social-web {
    margin-top: 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.loc-member-social-web:after {
    display: table;
    content: "";
    clear: both;
}

.loc-member-social-facebook, .loc-member-social-twitter, .loc-member-social-youtube {
    float: right;
    padding: 2px 8px;
    margin: 6px;
    font-size: .85em;
}

.loc-member-social-facebook {
    background: #4c69ba;
}
.loc-member-social-facebook:hover {
    /*background: #5b7bd5;*/
}
.loc-member-social-twitter {
    /*background: #e0e0e0;*/
    background: #00ACEE;
}
.loc-member-social-twitter:hover {
    /*background: #e7e7e7;*/
}
.loc-member-social-youtube {
    background: #dc2f2c;
}
.loc-member-social-youtube:hover {
    /*background: #fa362a;*/
}

.loc-member-social-web .loc-member-social-web-icon {
    margin-right: .5em;
    color: #fff;
}

.loc-member-social-web a {
    color: #fff;
}

.loc-member-social-web .loc-member-social-twitter .loc-member-social-web-icon {
    /*color: #00ACEE;*/
    color: #fff;
}

.loc-member-social-web .loc-member-social-twitter a {
    /*color: #333;*/
    color: #fff;
}

.loc-member-social-title {
    text-transform: uppercase;
    color: #666;
    float: left;
    height: 2.5em;
    line-height: 2.5em;
}


/* Committee Count */
.loc-member-committees {
    height: 2em;
    line-height: 2em;
    font-weight: 300;
}

.loc-member-committees p {
    margin-bottom: 0;
}

.committee-count-title,
.committee-count-num {
    float: left;
    line-height: normal;
    vertical-align: middle;
    padding: 4px 8px;
}

.committee-count-title {
    background: #428bca;
    color: #fff;
    border: 1px solid #428bca;
}

    .committee-count-title a {
        color: #fff;
    }

.committee-count-num {
    background: #fff;
    color: #666;
    border: 1px solid #ccc;
    border-left: none;
}


.loc-search-area-parent.collapsed>.loc-search-placeholder:first-of-type>div:first-of-type {
    font-size: 1.2em;
}

.loc-search-placeholder i {
    font-size: 1.5em;
    line-height: .5em;
}

.loc-search-area-parent.collapsed {
    padding-bottom: 5px;
    padding-top: 10px;   
}

.loc-search-area-parent>.loc-search-placeholder {
    height: auto;
    display: block;
}

.loc-search-area-parent.collapsed>.loc-search-placeholder {
    height: 0;
    display: none;
}

.loc-search-area-parent>.loc-search-placeholder:first-of-type {
    height: 0;
    display: none;
    color: #428bca;
    text-transform: uppercase;
}

.loc-search-area-parent.collapsed>.loc-search-placeholder:first-of-type {
    height: auto;
    display: block;
    cursor: pointer;
}

.loc-search-status {
    color: #428bca;
    /*margin: 15px;*/
    display: none;
    text-align: right;
    vertical-align: middle;
}

.loc-results-nav {
    /*margin-bottom: 15px;*/
    padding-right: 5px !important;
    display: inline-block;
}

.loc-results-nav-title {
    padding: 0 5px 15px 0 !important;
    display: inline-block;
}

.loc-results-no-results {
    color: rgb(153, 153, 153);
    padding: 0 15px 0 15px !important;
    text-align: center;
}

.loc-committee-view-members {
background-color: #f7f7f7;
border-left: 1px solid #f0f0f0;
}

.loc-committee-view-members.collapsed {
    display: none;
}

.loc-member-small-view {
    margin-left: 15px;
}

.loc-committee-member-info {
    float: left;
}

.loc-small-result-item-name {
    margin-bottom: 5px;
}

.loc-member-portrait-small {
    width: 12%;
    text-align: center;
    padding-right: 5%;
}

.loc-member-info-content-small {
    width: 80%;
}

/* Committee View */
.loc-committee-info-container {
    width: 100%;
}

.loc-committee-map-info, .loc-committee-member-info {
    float: left;
    width: 50%;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #f0f0f0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.loc-parent-committee-name,
.loc-member-small-view .loc-member-contact {
    color: #8792a4;
}

.loc-committee-map-info i, .loc-committee-member-info i {
    margin-right: 10px;
}

.loc-member-small-view.loc-result-item-view {
    border-left: 1px solid #f0f0f0;
}

.loc-member-small-view .loc-member-contact {
    line-height: 1.4em;
}

/* HEIGHT MEDIA QUERIES */

@media (max-height: 950px) {
    /* medium height */
    .loc-view-area .loc-results-list {
        height: 500px;
    }
}
@media (max-height: 800px) {
    /* small height */
    .loc-view-area .loc-results-list {
        height: 400px;
    }
}
@media (max-height: 650px) {
    /* small height */
    .loc-view-area .loc-results-list {
        height: 290px;
    }
}